.NavBarComponent{
  background-color: aqua;
}
.custom-shape-divider-bottom-1701076518 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1701078068 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  
}

.custom-shape-divider-bottom-1701078068 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1701078068 .shape-fill {
  fill: #FFFFFF;
  
}

body{
  padding: 0;
  margin: 0;
}

.mainsection{
  height: 600px; /* Set the increased height for small screens */
  background-color: #01051e;
  position: relative;
}

@media screen and (max-width: 800px) {
  .mainsection{
    height: 650px; /* Set the increased height for small screens */
    background-color: #01051e;
    position: relative;
  }
}
.header_item:hover{
  color: rgb(21, 86, 143);
}
#header_item:hover{
  color: aqua;

}